<section class="cards-container">
  <section class="historico-card" *ngFor="let tarjeta of datosRecibidos">
    <div class="portada">
      <div class="img-container">
        <img src="assets/img/fiscalia.png" alt="foto" />
      </div>
      <h1>{{ tarjeta.tipo_cont }}</h1>
    </div>

    <div class="contenido">
      <strong class="id">Id: {{ tarjeta.id_simplicita }}</strong>
      <div>institucion: {{ tarjeta.institucion }}</div>
      <div>Tipo Contenido: {{ tarjeta.tipo_cont }}</div>
      <!-- <div>correo: {{ tarjeta.correo }}</div>  -->
      <div>plazo: {{ tarjeta.plazo }}</div>

      <div class="buttons-container">
        <a href="#" class="btn"> Ver </a>
        <a href="#" class="btn">Análisis</a>
        <div>
          <mat-icon>spellcheck</mat-icon>
          {{ tarjeta.siglas }}
        </div>
      </div>
    </div>
  </section>
</section>
